main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1{
    color: white;
}

table{
    border-collapse: collapse;
    background-color: white;
}